<header
  titulo="Cadastro de Peixe"
  editTitulo="Alterar Peixe"
  [modoEdit]="editMode"
  (onClear)="clean()"
  (onChange)="validator()">
</header>

<!-- FORM -->
  <form #mainForm="ngForm" [class]="validar">
    <div class="form-group">
      <label for="peixe">Peixe</label>
      <input type="text" id="peixe" name="peixe" class="form-control" [(ngModel)]="filter.peixe" required #peixe="ngModel">
      <div class="invalid-feedback" *ngIf="!peixe.valid">Campo obrigatótio.</div>
    </div>
  </form>

<!-- GRID -->
<div class="listas" *ngIf="dataSource.length>0">
  <nav>
    <div class="form-group form-inline">
      <i class="bi bi-search"></i>
      <input class="form-control ml-2" type="search" style="width: 400px" [(ngModel)]="search" placeholder="Buscar"/>
    </div>
  </nav>
  <table class="table table-striped" style="height: 100%">
    <thead>
    <tr class="table-primary ">
      <th scope="col" width="30px">#</th>
      <th #cellElement scope="col" sortable="peixe" (sort)="onSort($event)">Peixes</th>
      <th scope="col" class="align-right"></th>
      <th scope="col" class="align-right"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of dataSource | filter:search" class="hover">
      <th scope="row">{{ data.id }}</th>
      <td width="80%">
        {{ data.peixe }}

      <td class="text-center"  width="10px">
        <button type="button" class="btn btn-sm bg-transparent pointer" (click)="edit(data)">
          <span class="bi bi-pencil-square text-success"></span>
        </button>
      </td>
      <td class="text-center"  width="10px">
        <button type="button" class="btn btn-sm bg-transparent pointer" (click)="confirm(confirmeDelete, data.id)">
          <span class="bi bi-trash-fill text-danger"></span>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #confirmeDelete>
  <div class="modal-body text-center" >
    <p> Deseja realmente remover este item? </p>
    <button type="button" class="btn btn-default" (click)="delete()">Sim</button>
    <button type="button" class="btn btn-primary marge-button" (click)="onDeclined()">Não</button>
  </div>
</ng-template>
