<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-dark border-dark" id="sidebar-wrapper">
    <div class="sidebar-heading"></div>
    <div>
      <ul class="list-group list-group-flush">

<!--
        Menu de Cadastros
-->

        <li class="active">
          <a href="#cadastroSubmenu"
             data-toggle="collapse"
             aria-expanded="false"
             class="dropdown-toggle list-group-item list-group-item-action bg-dark">
            Cadastros
          </a>

          <ul class="collapse list-unstyled" id="cadastroSubmenu">
            <li>
              <a routerLink="cadastro-usuario" class="list-group-item list-group-item-action bg-dark">
                <div class="ml-2">
                  <i class="bi bi-person text-info"></i>
                  Usuários
                </div>
              </a>
            </li>

            <li>
              <a routerLink="cadastro-peixe" class="list-group-item list-group-item-action bg-dark">
                <div class="ml-2">
                  <i class="bi bi-arrow-down-right-circle text-info"></i>
                  Peixe
                </div>
              </a>
            </li>

            <li>
              <a routerLink="cadastro-tanque" class="list-group-item list-group-item-action bg-dark">
                <div class="ml-2">
                  <i class="bi bi-collection text-info"></i>
                   Tanque
                </div>
              </a>
            </li>

            <li>
              <a routerLink="cadastro-temperatura" class="list-group-item list-group-item-action bg-dark">
                <div class="ml-2">
                  <i class="bi bi-thermometer-half text-info"></i>
                   Temperatura
                </div>
              </a>
            </li>

            <li>
              <a routerLink="tabela-crescimento" class="list-group-item list-group-item-action bg-dark">
                <div class="ml-2">
                  <i class="bi bi-file-earmark-spreadsheet text-info"></i>
                   Tabela Crescimento
                </div>
              </a>
            </li>
          </ul>
        </li>

<!--
        Menu de Movimentações
-->

        <li class="active">
          <a href="#movimentoSubmenu"
             data-toggle="collapse"
             aria-expanded="false"
             class="dropdown-toggle list-group-item list-group-item-action bg-dark">Movimentação</a>
          <ul class="collapse list-unstyled" id="movimentoSubmenu">
            <li>
              <a routerLink="movimentacao-entrada-peixe" class="list-group-item list-group-item-action bg-dark">
                <div class="ml-2">
                  <i class="bi bi-tsunami text-info"></i>
                  Entrada Peixe
                </div>
              </a>
            </li>

            <li>
              <a routerLink="tabela-cultivo" class="list-group-item list-group-item-action bg-dark">
                <div class="ml-2">
                  <i class="bi bi-file-earmark-spreadsheet text-info"></i>
                  Tabela Cultivo
                </div>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <ng-content></ng-content>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
